<div class="card-container" *ngIf="author">
  <div class="left-content">
    <p class="name">
      Autore: <span>{{ author.name }}</span
      >, alias <span>{{ author.username }}</span>
    </p>
    <p class="address">
      Indirizzo: <span>{{ author.address.street }}</span>
    </p>
    <p class="phone">
      Num: <span>{{ author.phone }}</span>
    </p>
    <p class="webiste">
      Webiste: <span>{{ author.website }}</span>
    </p>
  </div>
  <div class="right-content">
    <button (click)="navigate()" class="navigate">Tutti i dettagli</button>
  </div>
</div>
